//color theme
$main-background-color: rgb(41, 38, 43);
$second-background-color: rgb(41, 38, 43);
$second-font-color: rgb(140, 106, 162);
$main-font-color: rgb(208, 186, 223);
$special-color: rgb(195, 247, 180);
$main-font: "Open Sans", sans-serif;
