@import "./var";
.presentation {
  margin-top: 200px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  &__title {
    background-color: $main-background-color;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    margin: 0px;
    &__h {
      margin: Opx;
      color: $second-font-color;
      font-size: 60px;
      margin-block-start: 0px;
    }
    &__logo {
      max-width: 500px;
    }
    &__text {
      margin-block-start: 0px;
      padding-left: 15px;
      font-family: $main-font;
      color: $main-font-color;
      font-size: 30px;
    }
  }
  &__portrait {
    width: 350px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  }
}
