//color theme
$main-background-color: #ededed;
$second-background-color: #333333;
$main-font-color: #ededed;
$second-font-color: #333333;
$special-color: #ededed;
$main-font: "Open Sans", sans-serif;
