//color theme
$main-background-color: white;
$second-background-color: white;
$second-font-color: black;
$main-font-color: black;
$special-color: black;

$first-logo-color: #e48282;
$second-logo-color: #d15b5b;

//fonts
$main-font: "Belleza", sans-serif;
$second-font: "Cormorant Garamond", serif;

//medias
$mobileL: 430px;
$tablet: 800px;
