//color theme
$main-background-color: white;
$second-background-color: white;
$second-font-color: black;
$main-font-color: black;
$special-color: black;
$main-font: "Belleza", sans-serif;
$first-logo-color: #e48282;
$second-logo-color: #d15b5b;
