@import "../components/var";

.a-propos {
  display: flex;
  background-color: $main-background-color;
  flex-direction: column;
  align-items: center;
  padding: 0px 0 0 0;

  &__title {
    margin: 0px;
    padding: 20px;
    background-color: $main-background-color;
    color: $second-font-color;
    width: 80%;
    text-align: center;
    font-family: $main-font;
    letter-spacing: 0.3em;
  }
  &__text {
    font-family: $main-font;
    color: $main-font-color;
    width: 60%;
    font-weight: 100;
    gap: 15px;
    letter-spacing: 0.05em;
    text-align: justify;
    line-height: 20px;
  }
}
@media screen and (max-width: $tablet) {
  .a-propos {
    padding: 50px 0 0 0;
    &__title {
      font-size: 18px;
    }
    &__text {
      width: 80%;
      font-size: 14px;
    }
  }
}
@media screen and (max-width: $mobileL) {
  .a-propos {
    padding: 20px 0 0 0;
    &__title {
      font-size: 15px;
    }
    &__text {
      width: 90%;
      font-size: 12px;
      line-height: 17px;
    }
  }
}
