@import "../components/var";

$card-gap: 55px;
$card-title-background: $special-color;
$card-title-text-size: 15px;
$card-title-text-weight: 700;

.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  &__title {
    margin: 0px;
    padding: 20px;
    background-color: $main-background-color;
    color: $main-font-color;
    width: 80%;
    text-align: center;
    font-family: $main-font;
    letter-spacing: 0.3em;
  }
  &__intro {
    width: 100%;
    display: flex;
    justify-content: center;
    &-content {
      font-family: $main-font;
      color: $main-font-color;
      width: 60%;
      font-weight: 100;
      gap: 15px;
      letter-spacing: 0.05em;
      text-align: justify;
      line-height: 20px;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $card-gap;
    list-style: none;
    padding: 45px;

    &-item {
      position: relative;
      overflow: hidden;
      padding-top: 60%;
      padding-bottom: 0%;
      box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }

    &-img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    &-container {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      background: $card-title-background;
      background-color: transparent;
    }

    &-title {
      width: 100%;
      height: 20%;
      background-color: $card-title-background;
      color: white;
      font-size: $card-title-text-size;
      font-weight: $card-title-text-weight;
      display: flex;
      align-items: center;
      margin: 0px;
      justify-content: center;
      position: relative;
      z-index: 3;
      opacity: 80%;
      font-family: $main-font;
      letter-spacing: 0.1em;
    }
    &__details {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 400;
      background-color: $main-background-color;
      justify-content: center;
      align-items: center;
    }
  }
}
@media screen and (max-width: $tablet) {
  .card {
    margin-top: -50px;
    &__title {
      font-size: 18px;
    }
    &__intro {
      &-content {
        width: 80%;
        font-size: 14px;
      }
    }
    &__content {
      padding: 20px;
      gap: 20px;
      &-title {
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: $mobileL) {
  .card {
    margin-top: 0px;
    &__title {
      font-size: 15px;
    }
    &__intro {
      &-content {
        width: 90%;
        font-size: 12px;
        line-height: 17px;
      }
    }
    &__content {
      display: grid;
      grid-template-columns: 1fr;

      padding: 20px;

      &-title {
        font-size: 12px;
      }
    }
  }
}
