@import "../components/_var.scss";
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: $main-background-color;
  &__logo {
    height: 70px;
  }
  &__navbar {
    padding-inline-start: 0px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    gap: 20px;
    & li {
      width: 110px;
      text-align: center;
      letter-spacing: 0.05em;
    }
    &-active {
      font-size: 16px;
      font-family: $main-font;
      text-decoration: none;
      color: $special-color;
      padding: 5px 10px 5px 10px;
      /*       transition: font-weight 0.3s ease;
      font-weight: 600; */
    }
    &-inactive {
      font-size: 16px;
      font-family: $main-font;
      text-decoration: none;
      color: $main-font-color;
      /*       font-weight: 400;
 */
    }
  }
}
@media screen and (max-width: 375px) {
  .header {
    margin: 20px 20px 30px 20px;
    height: auto;
    &__navbar {
      gap: 26px;
    }
  }
}
