@import "../components/_var.scss";
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: $main-background-color;
  &__navbar {
    padding-inline-start: 0px;
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    &-active {
      font-size: 15px;
      font-family: $main-font;
      text-decoration: none;
      color: $second-font-color;
      transition: font-weight 0.3s ease;
      font-weight: 600;
    }
    &-inactive {
      font-size: 15px;
      font-family: $main-font;
      text-decoration: none;
      color: $second-font-color;
      font-weight: 400;
    }
  }
}
@media screen and (max-width: 375px) {
  .header {
    margin: 20px 20px 30px 20px;
    height: auto;
    &__navbar {
      gap: 26px;
    }
  }
}
