@import "../components/_var.scss";
.intro {
  padding: 80px 0 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  &__title {
    margin: 0px;
    padding: 20px;
    background-color: $main-background-color;
    color: $second-font-color;
    width: 80%;
    text-align: center;
    font-family: $main-font;
    letter-spacing: 0.3em;
  }
  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
  }
  &__skills {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-img {
      object-fit: contain;
      height: 60%;
    }
    &-subtitle {
      font-size: 20px;
      font-weight: 200;
      font-family: $main-font;
      color: $main-font-color;
      text-align: center;
      letter-spacing: 0.1em;
    }
  }
}
@media screen and (max-width: $tablet) {
  .intro {
    padding: 50px 0 0 0;
    gap: 5px;
    &__title {
      padding: 0px;
      font-size: 18px;
    }
    &__content {
      justify-content: center;
      width: 60%;
    }
    &__skills {
      &-img {
        height: 50%;
      }
      &-subtitle {
        font-size: 16px;
      }
    }
  }
}
@media screen and (max-width: 667px) {
  .intro {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
    }
  }
}
@media screen and (max-width: $mobileL) {
  .intro {
    padding: 50px 0 0 0;
    gap: 5px;
    &__title {
      padding-bottom: 0px;
      width: 100%;
      font-size: 15px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 60%;
    }
    &__skills {
      &-subtitle {
        font-size: 14px;
      }
    }
  }
}
